<div id="basket">
  <div id="header">
    <span id="title"><%= t "basket.title" %></span>
    <a href="" id="cross"><%= image_tag "icons/cross.png", alt: "close" %></a>
  </div>
  <div id="products">
    <% if get_products.empty? %>
      <span class="empty-basket">Votre panier est vide</span>
    <% else %>
      <% get_products.each do |product| %>
        <%= render 'basket/product' %>
      <% end %>
    <% end %>
  </div>
  <div id="footer">
    <div class="d-flex justify-content-between m-3">
      <div class="total">TOTAL</div>
      <div>
        <div class="price-total">39</div>
        <div class="price-currency">CHF</div>
      </div>
    </div>
    <button type="button" class="btn btn-primary btn-lg btn-block">VALIDER MON PANIER</button>
    <div class="continue-button">
      <a href="">Continuer mes achats</a>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'basket/utils/closeBasketButton' %>
