.charter-page {
  margin-top: 90px;
  margin-bottom: 150px;

  p {
    font-size: 17px;
  }

  h1 {
    margin-bottom: 50px;
  }

  h6 {
    color: #6c5c5c;
    margin-bottom: 30px;
    line-height: 28px;
  }
}

@media screen and (max-width: 500px) {
  .community {
    h1 {
      font-size: 45px;
    }
  }
}
