.charter-page {
  margin-top: 90px;
  margin-bottom: 150px;

  h1 {
    margin-bottom: 50px;
  }

  h6 {
    color: #6C5C5C;
    margin-bottom: 30px;
    line-height: 28px;
  }
}

@media screen and (max-width: 500px) {
  .community {
    h1 {
      font-size: 45px;
    }
  }
}
