#confirmation {
  display: flex;
  padding-left: 135px;
  .full-width {
    width: 100%;
  }
  .informations-frame {
    background: #ffffff;
    border: 1px solid #f0ece8;
    box-sizing: border-box;
    width: 876px;
    height: 99px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
  }

  .frame {
    background: #ffffff;
    padding: 20px;
    width: 420px;
    height: 351px;
    /* Black 100 */

    border: 1px solid #f0ece8;
    box-sizing: border-box;
    /* DropShadow-Robin */

    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
  }
  .delivery-option {
    background: #f8f6f4;
    border-radius: 10px;
  }

  .shipping-title {
    font-family: BioRhyme;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    text-align: center;
    color: #25201d;
  }

  .shipping-count {
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 21px;
    /* or 191% */

    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;

    /* Black 700 */

    color: #7c7977;
  }

  .shipping-alert {
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #4488ee;
  }

  .shipping-option {
    background: #f8f6f4;
    border-radius: 10px;
    display: inline-block;
    width: 155px;
    height: 182px;
    height: 183px;
  }

  .price-details {
    background: #ffffff;
    border-radius: 8px;
    filter: drop-shadow(0px 0px 25px rgba(0, 0, 0, 0.06));
    width: 270px;
    height: 361px;
  }
  .size-876 {
    width: 876px;
  }
}
#header-confirmation {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 467px;
  margin: auto;
  .step {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 155px;
    position: relative;
    .step-name {
      font-family: BioRhyme;
      font-size: 16px;
      line-height: 32px;
      text-align: center;
      color: #7c7977;
      opacity: 0.45;
    }
  }
  .step-link {
    position: absolute;
    width: 103px;
    height: 0px;
    left: 103px;
    top: 26px;
    border: 1px solid #e1deda;
  }
  .circle-number {
    width: 53px;
    height: 53px;
    background: #e6e4e4;
    border: 1px solid #e6e4e4;
    border-radius: 26.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    span {
      font-family: Mulish;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      color: #7c7977;
      opacity: 0.6;
    }
  }
}
