.edit-delivery-infos {
  label {
    margin-left: 11%;
  }
  .invalid-feedback {
    text-align: center;
  }
  .sign-in {
    width: 90% !important;
    min-height: 0px !important;
  }
  #user_address_line_1 {
    width: 78% !important;
  }
  .form-control {
    width: 76% !important;
  }
  .form-actions {
    .input {
      font-size: 13px;
    }
  }
}
