.edit-delivery-infos {
  .invalid-feedback {
    text-align: center;
  }
  .sign-in {
    padding-top: 30px;
    width: 90% !important;
    min-height: 0px !important;
  }
  .form-control {
    width: 100% !important;
  }
  svg {
    margin-right: 18px;
  }
  .form-actions {
    .input {
      font-size: 13px;
    }
  }
}
