.edit-delivery-infos {
  .sign-in {
    width: 90% !important;
    min-height: 0px !important;
  }
  #user_address_line_1 {
    width: 78% !important;
  }
  .form-control {
    width: 70% !important;
  }
  .name {
    width: 91% !important;
    .form-control {
      width: 100% important;
    }
  }
  .btn {
    width: 77% !important;
  }
}
