.edit-registration {
  .btn {
    font-family: 'Mulish', sans-serif;
    background-color: #339E72!important;
    color: white;
    font-weight: 600;
    font-size: 14px;
    height: 53px;
    border-radius: 10px;
    width: 226px;
    letter-spacing: 2.5px;
    line-height: 43px;
    margin-bottom: 90px;
  }

  .nav-tabs {
    a {
      color: #9B9696;
    }

    .active {
      border-bottom: 5px solid #339E72;
      color: #9B9696;
    }
  }
}
