.edit-password {
  padding-bottom: 50px;
  margin-top: 50px;

  .form-control {
    max-width: 369px;
    border-radius: 8px;
  }

  .btn {
    font-family: 'Mulish', sans-serif;
    background-color: #339E72!important;
    color: white;
    font-weight: 600;
    font-size: 14px;
    height: 53px;
    border-radius: 10px;
    width: 226px;
    letter-spacing: 2.5px;
    line-height: 43px;
    margin-bottom: 90px;
    margin-top: 50px;
    text-transform: uppercase;
  }

  h2 {
    color: #000000 !important;
    margin-bottom: 50px;
  }

  h6 {
    margin-bottom: 50px;
  }
}
