.edit-registration {
  padding-bottom: 50px;
  margin-top: 50px;


  .form-control {
    max-width: 369px;
    border-radius: 8px;
  }

  .btn {
    font-family: 'Mulish', sans-serif;
    background-color: #339E72!important;
    color: white;
    font-weight: 600;
    font-size: 14px;
    height: 53px;
    border-radius: 10px;
    width: 226px;
    letter-spacing: 2.5px;
    line-height: 43px;
    margin-bottom: 90px;
    margin-top: 50px;
    text-transform: uppercase;
  }

  h4 {
    margin-top: 30px;
    color: #000000 !important;
    margin-bottom: 50px;
  }

  h2 {
    color: #000000 !important;
  }

  .nav-tabs {
    margin-top: 90px;


    a {
      color: #9B9696;
    }

    .active {
      border-bottom: 5px solid #339E72;
      color: #9B9696;
    }
  }
}

@media screen and (max-width: 770px) {
  .nav-tabs {
    border-bottom: 1px solid white !important;
  }
}
