.faq {
  h1 {
    font-size: 32px;
    font-weight: bold;
    padding-top: 75px;
    padding-bottom: 20px;
  }

  .accordion {
    margin-bottom: 50px;

    .card {
      margin-bottom: 17px;
      border: solid 1px black;
      border-radius: 5px;
      background-color: #FAF0E1;
    }
    .card-header {
      height: 64px;
      background-color: #FAF0E1;
    }

    button {
      width: 100%;
      justify-content: space-between;
      height: 64px;

      h5 {
        font-size: 24px;
        font-weight: bold;
        margin: auto 0;

      }

      img {
        width: 50px;
      }
    }
  }

}
