
.farms {
  background-color: #F9FAF7;

  .cards_maps {
    justify-content: space-between;
    @include media-breakpoint-down(lg) {
      flex-direction: column-reverse;
    }
  }

  #map {
    position: sticky;
    top: 60px;
    right: 0px;
    height: 100vh;
    width: 50%;
    @include media-breakpoint-down(lg) {
      position: relative;
      top: 0px;
      width: 100vw;
      height: 40vh;
    }

    .mapboxgl-ctrl-compass {
      display: none !important;
    }
  }

  .mobile-big-question-mark {
    @include media-breakpoint-down(sm) {
      display: inline-flex;
    }
    display: none;
    position: absolute;
    z-index: 999;
    margin-top: 14px;
    margin-left: 16px;
    background: #7C7977;
    box-sizing: border-box;
    width: 32px;
    height: 32px;
    color: white;
    border-radius: 16px;
    margin-top: 10px;
    vertical-align: top;
    justify-content: center;
    align-items: center;
    font-family: Mulish;
    font-weight: 800;
    font-size: 16px;
  }

  .map-infos {
    @include media-breakpoint-down(sm) {
      display: none;
      margin-top: 7px;
    }
    width: 269px;
    height: 85px;
    background-color:white;
    position: absolute;
    z-index: 999;
    margin-top: 14px;
    margin-left: 16px;
    .close-infos {
      position: absolute;
      right: 7px;
      top: 0;

    }
    .marker {
      height: 18px;
    }
    .shipping-name {
      font-size: 14px;
      line-height: 21px;
      color: #7C7977;
      margin-left: 10px;
    }
    .price {
      font-size: 18px;
      line-height: 32px;
      color: #7C7977;
      font-weight: bold;
    }
    .currency {
      color: #7C7977;
      font-weight: bold;
      font-size: 10px;
      vertical-align: top;
      line-height: 27px;
    }
    .question-mark {
      background: #7C7977;
      box-sizing: border-box;
      width: 16px;
      height: 16px;
      color: white;
      border-radius: 8px;
      margin-top: 10px;
      vertical-align: top;
      display: inline-flex !important;
      justify-content: center;
      align-items: center;
      font-family: Mulish;
      font-weight: 800;
      font-size: 11px;
      &:hover + div {
        display: block;
      }
    }
    .bubble {
      position: absolute;
      top: -16px;
      left: 51px;
      width: 300px;
      height: 78px;
      @include media-breakpoint-down(sm) {
        z-index: 1000;
        position: absolute;
        top: -26px;
        left: -176px;
        width: 236px;
        height: 78px;
        transform: rotate(180deg);
      }
    }
    .shipping-description {
      position: absolute;
      top: -0.5px;
      left: 74px;
      width: 251px;
      font-family: Mulish;
      font-size: 9px;
      line-height: 13px;
      text-align: center;
      color: #F9FAF7;
      opacity: 0.6;
      @include media-breakpoint-down(sm) {
        position: absolute;
        top: -4.5px;
        left: -159px;
        width: 192px;
        font-family: Mulish;
        font-size: 9px;
        line-height: 13px;
        text-align: center;
        color: #F9FAF7;
        opacity: 0.6;
        z-index: 1001;
      }
    }
    .popup-question-mark {
      display: none;
      &:hover {
        display: block;
      }
    }
  }


  p {
    font-size: 17px;
    padding-left: 7px;
  }

  .search {

    span {
      font-size: 32px;
      margin-left: 26px;
      margin-top: 30px;
      margin-right: 20px;
    }

    select {
      margin-top: 30px;
      background-size: 8px 8px;
      height: 40px;
      background-color: white;
      border-radius: 6px;
      border-color: #F0ECE8;
      color: #7C7977;
      font-size: 14px;
      margin-left: 20px;
      font-family: 'Mulish', sans-serif;
    }

    .category {
      width: 170px;
    }

    .label {
      width: 200px;
    }

    .livraison {
      width: 180px;
    }
  }
}
