.farm-map {
  text-align: center;
  margin-top: 50px;
  .map-address {
    span {
      color: #6c5c5c;
      letter-spacing: 2.5px;
      text-transform: uppercase;
      font-size: 14px;
      font-family: Mulish;
    }
  }
}

.owl-stage {
  left: -190px;
}
.item {
  img {
    width: 80%;
    height: 70vh;
    object-fit: cover;
  }
}

.description-farm {
  justify-content: space-between;
}

#description-farm {
  padding-top: 86px;
  background-color: #faf7f3;

  .photo {
    img {
      width: 460px;
      height: 508px;
      object-fit: cover;
    }
  }

  .long-description {
    max-width: 544px;
    padding-top: 55px;

    h6 {
      color: #6c5c5c;
      margin-top: 20px;
      line-height: 32px;
      margin-bottom: 50px;
    }

    img {
      width: 48px;
      height: 1px;
      margin-top: 10px;
      margin-right: 20px;
    }

    a {
      line-height: 21px;
      font-size: 14px;
      letter-spacing: 2.5px;
      text-transform: uppercase;
    }
  }
}

.farm {
  position: relative;

  .informations {
    background-color: white;
    border-radius: 4px 4px 4px 4px;
    border: 1px solid #f0ece8;
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.07);
    width: 65%;
    height: 172px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    justify-content: space-around;
    margin-top: 30px;

    p {
      font-size: 11px;
    }

    h3 {
      color: #25201d;
      font-size: 18px;
      letter-spacing: 2.5px;
      font-weight: 600;
      margin-bottom: 10px;
    }

    .delivery {
      text-align: center;
      padding-right: 20px;
      margin-top: 20px;
      width: 30%;
      height: 100px;
      border-right: 1px solid rgba(108, 92, 92, 0.2);

      p {
        color: #25201d;
        opacity: 0.6;
        margin-bottom: 0px !important;
      }

      a {
        color: #25201d;
        text-decoration: underline;
      }
    }

    .hours {
      padding-right: 20px;
      text-align: center;
      margin-top: 20px;
      width: 30%;
      height: 100px;
      border-right: 1px solid rgba(108, 92, 92, 0.2);

      h6 {
        width: 100%;
      }

      p {
        color: #25201d;
        opacity: 0.6;
      }
    }

    .p-small {
      font-size: 11px;
    }

    .address {
      padding-right: 20px;
      text-align: center;
      margin-top: 20px;
      width: 30%;
      min-height: 100px;

      p {
        color: #7d7977;
        margin-bottom: 0 !important;
      }
    }
  }

  .description {
    background-color: white;
    width: 672px;
    position: absolute;
    right: 0;
    margin-right: 150px;
    margin-top: -480px;
    z-index: 1;
    border-radius: 6px 6px 6px 6px;
    border: 1px solid #f0ece8;

    h1 {
      padding-left: 40px;
      line-height: 64px;
      margin-top: 10px;
      font-size: 36px;
    }

    .full-address {
      font-size: 11px;
      line-height: 21px;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: #fd7830;
      margin-bottom: -16px;
    }

    p {
      font-size: 18px;
      padding-left: 40px;
      line-height: 32px;
      margin-top: 20px;

      a {
        font-size: 12px;
        color: #6c5c5c;
        line-height: 16px;
        opacity: 0.5;
        margin-left: 5px;
      }
    }
    .products-link {
      margin-top: 20px;
      p {
        color: #ff4136;
        margin-top: -10px;
        padding-left: 20px;
        letter-spacing: 2.5px;
        line-height: 21px;
        margin-bottom: 45px;
      }

      img {
        margin-left: 40px;
        width: 48px;
        height: 1px;
        padding-top: 0px;
      }
    }
    .header-description {
      width: 672px;
      height: 78px;
      border-radius: 6px 6px 0px 0px;
      background-color: #faf7f3;
      border: 1px solid #f0ece8;
      padding-left: 40px;
      align-items: center;

      img {
        border-radius: 30px;
      }

      h1 {
        display: none;
      }

      p {
        font-size: 14px !important;
        padding-left: 20px !important;
      }
    }
  }
}

.products {
  text-align: center;
  h2 {
    font-size: 36px;
    margin-top: 15px;
  }
}

#subcategories-form {
  padding-left: 20px;
  padding-right: 20px;
  @media screen and (min-width: 901px) {
    padding-left: 68px;
    padding-right: 68px;
  }
  width: 100%;
}

.subcategories-list {
  display: flex;
  width: 100%;
  align-items: center;
  @media screen and (min-width: 901px) {
    width: 50%;
  }
  overflow: auto;
  white-space: nowrap;
}

.subcategory-name {
  font-family: 'Mulish';
  font-weight: 600;
  color: #a4a6a0;
  opacity: 0.61;
  font-size: 14px;
  margin-right: 12px;
  @media screen and (min-width: 901px) {
    font-size: 18px;
    margin-right: 33px;
  }
  &--active {
    color: #ff4136;
    opacity: 0.91;
    font-weight: bold;
  }
}

.loadingoverlay {
  z-index: 10000 !important;
}

.subcategories-container {
  @media screen and (max-width: 901px) {
    margin-top: -44px;
    flex-direction: column-reverse;
  }
  display: flex;
  justify-content: space-between;
}

.subcategories-header {
  border-bottom: 1px solid #faf7f3;
  margin-top: 700px;
  @media screen and (min-width: 530px) {
    margin-top: 350px;
  }
  @media screen and (min-width: 901px) {
    margin-top: 170px;
  }
  padding-bottom: 16px;
  height: 136px;
  display: flex;
  align-items: center;
  width: 100%;
  z-index: 10001;
  background-color: white;
  &--sticky {
    position: fixed;
    margin-top: 105px;
    top: 0;
    left: 0;
  }
  .takeaway-only {
    @media screen and (max-width: 901px) {
      display: flex;
      flex-direction: column-reverse;
      align-items: end;
    }
    display: block;
    span {
      @media screen and (max-width: 901px) {
        font-size: 9px;
      }
      font-size: 16px;
      font-weight: bold;
      color: #a4a6a0;
    }
    svg {
      path {
        fill: #a4a6a0;
      }
      height: 24px;
      width: 19px;
    }
  }

  input[type='checkbox']:checked ~ label {
    span {
      color: green;
    }
    path {
      fill: green;
    }
  }
}

.products {
  .all-card-product.all-card-product--sticky {
    margin-top: 866px;
    @media screen and (min-width: 530px) {
      margin-top: 526px;
    }
    @media screen and (min-width: 901px) {
      margin-top: 346px;
    }
  }
}

.select2-dropdown {
  z-index: 999999 !important;
}

.select2 {
  span {
    font-weight: normal !important;
  }
}

.select2-selection {
  border-color: #f0ece8 !important;
  span{
    color: #7c7977 !important;
    font-size: 14px !important;
  }
}

.select2-results__option--highlighted {
  background-color: $primary !important;
}

.order-dropdown {
  background-size: 8px 8px;
  height: 40px;
  width: 160px;
  @media screen and (min-width: 901px) {
    width: 200px;
  }
  background-color: white;
  border-radius: 6px;
  border-color: #f0ece8;
  color: #7c7977;
  font-size: 14px;
  margin-left: 20px;
  font-family: 'Mulish', sans-serif;
}

.farm-delivery {
  margin-top: 95px;
  text-align: center;

  h1 {
    color: #6c5c5c;
  }

  h2 {
    font-size: 54px;
  }

  h6 {
    margin-top: 20px;
    color: #6c5c5c;
  }

  .delivery-options {
    flex-wrap: wrap !important;
    margin-top: 34px;
    justify-content: center;
    width: 100%;

    .no-withdrawal {
      p {
        margin-top: 50px !important;
        color: black !important;
      }
    }

    .no-accept {
      background-color: #dfe0df;

      .accept {
        display: none;
      }
    }

    .yes-accept {
      .no-withdrawal {
        display: none;
      }
    }

    .delivery_option {
      width: 357px;
      margin-left: 20px;
      margin-right: 20px;
      height: 305px;
      border: 1px solid #faf7f3;
      box-shadow: 0 1px 20px rgba(0, 0, 0, 0.07);
      border-radius: 10px;
      padding-right: 25px;
      padding-left: 25px;
      margin-bottom: 50px;

      h3 {
        color: black !important;
        font-weight: bold;
        margin-top: 20px;
        font-size: 18px;
      }

      .hours {
        p {
          font-weight: bold;
          padding-left: 25px;
          padding-right: 25px;
        }
      }

      .price {
        h6 {
          color: #339e72 !important;
          margin-top: 0px !important;
          font-weight: bold;
        }

        span {
          font-size: 12px;
          color: #339e72;
          margin-left: 5px;
        }
      }

      p {
        color: #7c7977;
        margin-bottom: 5px !important;
      }

      .withdrawal-image {
        img {
          margin-top: 40px;
          height: 48px;
          width: 46px;
        }
      }

      .delivery-image {
        img {
          margin-top: 40px;
          height: 49.97px;
          width: 79px;
        }
      }
    }
  }
}

@media screen and (max-width: 530px) {
  .farm {
    .informations {
      flex-direction: column !important;
      align-items: center !important;
      height: 450px !important;
      margin-top: 400px !important;
    }
  }
}

@media screen and (max-width: 901px) {
  .farm-delivery {
    .delivery_option {
      margin-left: 10px !important;
      margin-right: 10px !important;
    }
  }

  .owl-stage {
    left: 0px;
  }

  .farm {
    .informations {
      margin-top: 240px;
      width: 80%;

      .delivery {
        border-right: 1px solid white !important;
        width: 75%;
      }

      .hours {
        border-right: 1px solid white !important;
        width: 75%;
      }

      .address {
        width: 75%;
      }
    }

    .description {
      width: 80%;
      margin-top: 0px !important;
      margin-right: 0px !important;
      left: 50%;
      transform: translate(-50%, -50%);

      h1 {
        display: none;
      }

      p {
        font-size: 14px;
        padding-left: 20px;
        line-height: 24px;
      }
      .products-link {
        margin-top: 20px;
        p {
          margin-top: -10px;
          padding-left: 20px;
          font-size: 14px;
        }

        img {
          margin-left: 20px;
        }
      }
      .header-description {
        height: 51px;
        width: 100%;
        padding-left: 20px;

        h1 {
          display: block;
          font-size: 24px;
          line-height: 24px;
          padding-left: 0px;
        }
      }
    }
  }
}

@media screen and (max-width: 990px) {
  .farm-map {
    display: none;
  }

  .description-farm {
    justify-content: center;
    flex-direction: column-reverse;
  }

  #description-farm {
    .photo {
      img {
        width: 230px;
        height: 254px;
      }
    }
  }
}

@media screen and (min-width: 1600px) {
  .owl-stage {
    left: -250px;
  }

  .farm {
    .description {
      margin-top: -500px !important;
      margin-right: 300px !important;
    }
  }
}
