// Specific CSS for your home-page
.home {

  .low-vector {
    background-image: image-url('low-vector.png');
    height: 20px;
    margin-top: 162px;
    background-color: #F8F0E7;
  }

  .home-category{
    background-color: white;
    padding-top: 50px;


    h2 {
      padding-top: 60px;
      font-size: 36px;
      text-align: left;
      line-height: 135%;
      max-width: 448px;
      color: #6C5C5C;
    }

    img {
      width: 448px;
      padding-top: 60px;
    }

    .food {
      justify-content: space-between;
      margin-top: 50px;

      h6{
        padding-top: 30px;
        font-weight: bold;
        font-size: 18px;
        color: #25201D;
        line-height: 32px;
        margin-bottom: 0px !important;
      }

      p {
        max-width: 448px;
        color: #6C5C5C;
        font-size: 14px;
        line-height: 24px;
      }

      a {

        p {
          color: #FF4136;
          margin-top: -8px;
          padding-left: 20px;
          letter-spacing: 2.5px;
          line-height: 21px;
          margin-bottom: 45px;
        }

        img {
          width: 48px;
          height: 1px;
          padding-top: 0px;
        }
      }

    }
  }
}

@media screen and (max-width: 990px) {
  .food {
    flex-direction: column-reverse !important;
  }
}
