// Specific CSS for your home-page

.home {

  .join {
    .join-btn {
      color: white;
      background-color: #339E72;
      border-radius: 5px;
      margin-top: 10px;
    }

    h3 {
      font-family: 'BioRhyme', serif;
      color: #2D3126;
      margin-bottom: 30px;
    }

    p {
      color: black;
    }

    .companion {
      background-color: #FAF7F3;
      padding-top: 50px;
      padding-bottom: 100px;

      img {
        width: 40%;
      }

      .companion-image-text {
        display: flex;
        justify-content: between;

        .companion-text {
          margin-left: 10%;
          margin-top: 30px;
        }

        .green-sentence {
          color: #339E72;
        }
      }
    }
  }

  .zip-search {
    padding-top: 0px;
    color: #7c7977 !important;
    text-align: center;
    border-radius: 10px 0px 0px 10px;
    border-color: #f0ece8;
    width: 317px;
    @include media-breakpoint-down(sm) {
      width: 179px;
    }
    height: 54px;
    background-color: white;
  }

  .zip-button {
    background: #339e72;
    border-radius: 0px 10px 10px 0px;
    font-family: Mulish;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    height: 54px;
    text-align: center;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    color: #ffffff;
  }

  .testimonials {
    text-align: center;
    padding-top: 110px;
    margin-bottom: 110px;

    .all-testimonials {
      justify-content: space-between;
      width: 100%;
    }

    .testimony {
      padding-top: 30px;
      height: 367px;
      width: 350px;

      img {
        height: 100px;
        width: 100px;
      }

      .testimonials-informations {
        margin-top: -45px;

        h6 {
          color: #6c5c5c;
          line-height: 32px;
        }

        .name {
          margin-top: 10px;
          margin-bottom: 5px;
          color: #25201d;
          line-height: 24px;
          font-family: 'BioRhyme', serif;
          font-size: 20px;
        }

        .text {
          color: #7c7977;
          font-weight: 600;
          font-size: 11px;
          line-height: 21px;
          letter-spacing: 2px;
        }
      }
    }
  }

  .registration {
    background-image: image-url('home/registration.jpg');
    min-height: 125vh;
    background-size: cover;
    background-position: center;
    text-align: center;

    h6 {
      margin: 0 auto;
      max-width: 442px;
      color: #000000;
      opacity: 0.7;
      padding-top: 40px;
      line-height: 32px;
    }

    h2 {
      margin: 0 auto;
      padding-top: 430px;
      max-width: 526px;
      color: #000000;
      opacity: 0.7;
    }

    .btn {
      margin-top: 24px;
      font-family: 'Mulish', sans-serif;
      background-color: #339e72 !important;
      color: white;
      font-weight: 600;
      font-size: 14px;
      height: 53px;
      border-radius: 10px;
      width: 226px;
      height: 53px;
      letter-spacing: 2.5px;
      line-height: 43px;
    }
  }
}

@media screen and (max-width: 500px) {
  .testimony {
    margin-bottom: 80px;
  }

  .registration {
    background-image: image-url('home/registration-mobile.jpg') !important;
    min-height: 100vh !important;

    h6 {
      font-size: 18px !important;
      padding-top: 20px !important;
    }

    h2 {
      padding-top: 150px !important;
      font-size: 28px !important;
      max-width: 250px !important;
    }
  }
}


@media screen and (max-width: 990px) {
  .all-testimonials {
    flex-direction: column !important;
    align-items: center !important;
  }
}
