// Specific CSS for your home-page
.home {

  .low-vector {
    background-image: image-url('low-vector.png');
    height: 20px;
    margin-top: 162px;
    background-color: #F8F0E7;
  }

  .home-category{
    background-color: white;
    padding-top: 50px;


    h2 {
      padding-top: 60px;
      font-size: 36px;
      text-align: left;
      line-height: 135%;
      max-width: 448px;
      color: #6C5C5C;
    }

    img {
      width: 448px;
      padding-top: 60px;
    }

    .food {
      justify-content: space-between;
      margin-top: 50px;

      h6{
        padding-top: 30px;
        font-weight: bold;
        font-size: 18px;
        color: #25201D;
        line-height: 32px;
        margin-bottom: 0px !important;
      }

      p {
        max-width: 448px;
        line-height: 24px;
      }

      a {

        p {
          color: #FF4136;
          margin-top: -8px;
          padding-left: 20px;
          letter-spacing: 2.5px;
          line-height: 21px;
          margin-bottom: 45px;
        }

        img {
          width: 48px;
          height: 1px;
          padding-top: 0px;
        }
      }

    }
  }

  .rdf-presentation {
    text-align: center;

    h2 {
      padding-top: 30px;
      max-width: 450px;
      margin: 0 auto;
      line-height: 32px;
    }

    p {
      max-width: 303px;
      margin: 0 auto;
    }

    .cards-rdf {
      padding-top: 50px;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 30px;
    }

    .card-rdf {
      border-radius: 10px;
      text-align: center;
      height: 324px;
      width: 350px;
      justify-content: center;
      border: 1px solid #FAF7F3;
      box-shadow: 0 1px 20px rgba(0,0,0,0.07);

      img {
        padding-top: 30px;
        padding-bottom: 30px;
      }
    }

    .btn {
      font-family: 'Mulish', sans-serif;
      background-color: #339E72!important;
      color: white;
      font-weight: 600;
      font-size: 14px;
      height: 53px;
      border-radius: 10px;
      width: 226px;
      letter-spacing: 2.5px;
      line-height: 43px;
      margin-bottom: 50px;
    }
  }
}

@media screen and (max-width: 990px) {
  .food {
    flex-direction: column-reverse !important;
    align-items: center !important;
  }
}

@media screen and (max-width: 990px) {
  .cards-rdf {
    flex-direction: column !important;
    align-items: center !important;

    .card-rdf {
      margin-top: 30px;
    }
  }
}
