.partners {
  margin-top: 90px;
  margin-bottom: 150px;
  text-align: center;

  .all-partners {
    margin-top: 90px;
    flex-wrap: wrap;
    justify-content: space-between;

    .partner {
      margin-bottom: 60px;

      img {
        height: 200px;
        width: 200px;
        margin-bottom: 60px;
      }

      h5 {
        font-size: 20px;
        font-family: 'BioRhyme', serif;
        color: #25201D;
        margin-bottom: 20px;
      }

      h6 {
        color: #6C5C5C;
        line-height: 32px;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .partners {
    .partner {
      max-width: 100% !important;
    }
  }
}

@media screen and (max-width: 900px) {
  .partners {
    .partner {
      max-width: 45% ;
    }
  }
}

@media screen and (min-width: 901px) {
  .partners {
    .partner {
      max-width: 30% ;
    }
  }
}
