.products {

  h6 {
    margin-top: 20px;
    color: #6C5C5C;
  }

  .tabs-products {
    margin-top: 32px;
    border-bottom: white 1px solid;

    p {
      font-size: 20px;
      font-family: 'BioRhyme', serif;
      opacity: 0.8;
    }

    .active {
      width: 100%;
      background-color: #D6ECE3;
      height: 80px;
      border-radius: 50px 50px 0 0;

      p {
        color: #339E72 !important;
      }

      img {
        margin-top: 10px;
      }

      .image {
        display: none;
      }

    }

    .delivery {
      width: 49%;
      background-color: #FAF7F3;
      height: 80px;
      border-radius: 50px 50px 0 0;
      color: #7C7977;

      .active {
        background-image: url("products/delivery-active.png");
        background-repeat: no-repeat;
        background-size: 55px 35px;
        background-position: 100px 30px;
      }

      .image {
        margin-top: 4%;
      }

      .image-active {
        display: none;
      }

      .delivery-content {
        width: 100%;
        justify-content: center;

        p {
          margin-top: 5%;
        }

        img {
          margin-right: 20px;
          height: 35px;
          width: 55.33px;
        }
      }
    }

    .withdrawal {
      width: 49%;
      background-color: #FAF7F3;
      color: #7C7977;
      height: 80px;
      border-radius: 50px 50px 0 0;

      .active {
        background-image: url("products/withdrawal-active.png");
        background-repeat: no-repeat;
        background-size: 46px 46px;
      }

      .image-active {
        display: none;
      }

      .withdrawal-content {
        width: 100%;
        justify-content: center;

        p {
          margin-top: 5%;
        }

        img {
          margin-right: 20px;
          margin-top: 3%;
          height: 48px;
          width: 46px;
        }
      }
    }
  }

  .all-card-product {
    flex-wrap: wrap;
    margin-top: 33px;
    margin-bottom: 30px;
  }

  .card-product {
    position: relative;
    border: 1px solid #FAF7F3;
    box-shadow: 0 1px 20px rgba(0,0,0,0.07);
    height: 417px;
    width: 252px;
    background-color: white;
    border-radius: 8px 8px 0px 0px;
    margin-top: 23px;
    margin-right: 25px;
    border-radius: 10px 10px 10px 10px;

    .photo-farm {
      border-radius: 10px 0 0 10px;
      position: relative;

      img {
        border-radius: 10px 10px 0 0px;
      }

      .labels {
        margin-bottom: -24px;
        margin-left: 10px;
        z-index: 1;
        position: absolute;
        flex-direction: column;
      }
      .label {
        display: inline-block;
        margin-top: 10px;
        background-color: #339E72;
        height: 19px;
        border-radius: 2px;
        padding-left: 5px;
        padding-right: 5px;

        p {
          color: white !important;
          font-weight: 400 !important;
          font-size: 11px !important;
          line-height: 21px !important;
        }
      }
    }


    .btn-number {
      height: 53px;
      width: 252px;
      background-color: #339E72;
      text-align: center;
      border-radius: 0px 0px 10px 10px;
      color: white;
      position: absolute;
      bottom: 0;
      left: 0;
    }

    img {
      height: 248px;
      width: 252px;
      border-radius: 10px 10px 0px 0px;
    }

    .informations {
      justify-content: space-between;
      margin-left: 10px;
      margin-top: 15px;

      .price {
        margin-right: 15px;

        .unit-price {
          h4 {
            font-weight: bold;
            color: #33B084 !important;
          }

          p {
            font-weight: bold;
            color: #33B084 !important;
            margin-top: 5px;
            margin-left: 2px;
            font-size: 12px;
          }
        }

        .kg-price {

          p {
            font-size: 12px;
            color: #7C7977;        }
          }
      }

      .name {
        text-align: left;
        font-size: 20px;
        margin-bottom: 15px;
        width: 156px;

        h6 {
          color: #25201D;
          font-size: 20px;
          font-family: 'BioRhyme', serif;
        }

        p {
          font-size: 12px;
          color: #7C7977;
        }
      }

    }
  }
}

@media screen and (max-width: 530px) {
  .products {
    margin-top: 700px !important;

    .tabs-products {

      .withdrawal-content {
        margin-top: 10px;
      }

      .delivery-content {
        margin-top: 10px;
      }

      .delivery-computer {
        display: none;
      }

      img {
        display: none;
      }
    }
  }
}


@media screen and (min-width: 531px) {
  .products {

    .tabs-products {
      .delivery-mobile {
        display: none;
      }
    }
  }
}
