<% product = Product.find(@last_added.product_id) %>
<% farm = Farm.find(product.farm_id) %>

<div id="basket-modal-content">

  <div class="top-component">
    <div id="close-basket-modal"><i class="fas fa-times"></i></div>
    <div class="msg-added-to-cart"><%= t "basket_modal.added" %></div>
    <div id="product-added"><%= "#{quantity} x #{product.name}" %></div>
  </div>

  <div class="bottom-component">
    <div class="txt-not-filled">Plus que <b>12 CHF</b> pour atteindre le minimum chez ce producteur</div>
  </div>
</div>