<div class="popup-inner-content">
  <div class="top-component">
    <div class="msg-added-to-cart"><%= t "basket_modal.added" %></div>
    <div id="product-added"><%= "#{@quantity} x #{@product.name}" %></div>
  </div>
  <div class="bottom-component">
    <% if @minimum_reached %>
      <%= render partial: "shared/basket_modal_components/filled", locals: {farm: @farm} %>
    <% else %>
      <%= render partial: "shared/basket_modal_components/not_filled", locals: {farm: @farm, gap: @gap, progress: @progress.round} %>
    <% end %>
  </div>
</div>
