<div class="footer row">
  <%= image_tag "logos/rdf_light_pink.png" %>

  <div class="information">

    <div class="row ">

      <div >
        <p class= "title">Informations</p>
        <p>Livraison</p>
        <p>Mode de paiement</p>
        <p><%= link_to "FAQ", "#"  %></p>
        <p><%= link_to "CGV", cgv_path  %></p>

      </div>

      <div>
        <br>
        <br>
        <p>A propos</p>
        <p>Contact</p>
        <p>Livraison</p>
        <p>Liste des producteurs</p>

      </div>

    </div>

  </div>


  <div class="contact">
    <p class= "title">Contactez-nous</p>
    <p>info@robindesfermes.ch</p>
    <p>021 000 00 00</p>

  </div>

  <div class="link">
    <p class= "title">Retrouvez-nous</p>
    <div class="footer-links">
      <a href="https://www.facebook.com/robindesfermes.ch/"><i class="fab fa-facebook"></i></a>
      <a href="https://www.instagram.com/robin_des_fermes/"><i class="fab fa-instagram"></i></a>
      <a href="https://www.linkedin.com/company/robin-des-fermes/"><i class="fab fa-linkedin"></i></a>
    </div>

  </div>

</div>
