<div class="minimum_price_not_reached_modal">
  <i class="fas fa-times close-button"></i>
  <div class="texts pt-4">
    <span class="unit"></span>
    <h1>Montant minimum de commande non atteint</h1>
    <% order.farm_orders.each do |farm_order| %>
      <% unless farm_order.farm.minimum_order_reached?(farm_order) %>
        <p class="description">Il vous manque <b><%= farm_order.farm.minimum_order_missing_price(farm_order) %> CHF</b> pour atteindre le minimum de commande de <b><%= farm_order.farm.name %></b>.</p>
      <% end %>
    <% end %>
    </div>
    <%= link_to 'Retourner chez le producteur', polymorphic_path(order.get_first_farm_with_missing_price()), class: "btn btn-primary btn-lg cta-button" %>
</div>
