<div class="minimum_price_not_reached_modal">
  <i class="fas fa-times close-button"></i>
  <div class="texts">
    <span class="unit"></span>
    <h1>Montant minimum de commande non atteint</h1>
      <p class="description">Il vous manque 2 CHF pour atteindre le minimum de commande de La ferme de Jonas.</p>
    </div>
        <button class="btn btn-primary btn-lg add-to-basket">Retourner chez le producteur</button>
    </div>
  </div>
</div>
