<div class="product-modal">
  <img class="product-image">
  <i class="fas fa-times close-button"></i>
  <div class="texts">
    <span class="unit"></span>
    <h1></h1>
      <h3 class="price"></h3><h3 class="currency"></h3>
      <p class="description"></p>
      <h5 class="ingredients"></h5>
  </div>
      <button class="btn btn-primary btn-lg add-to-basket" data-path="" data-token="" >Ajouter au panier</button>
</div>
</div>
</div>
