<div class="product-modal">
    <img src="http://res.cloudinary.com/docrmd74f/image/upload/c_fill,h_64,w_64/urd6v76xx5t8t3frr6kntidk9v8b" alt="">
  <div class="texts">
    <span class="unit"></span>
    <h1></h1>
      <h3 class="price"></h3><h3 class="currency"></h3>
      <p class="description"></p>
      <h5 class="ingredients"></h5>
  </div>
      <button class="btn btn-primary btn-lg add-to-basket" data-path="" data-token="" >Ajouter au panier</button>
</div>
