<div id="header-confirmation">
  <div class="step">
    <div class="circle-number"><span>1</span></div>
    <span class="step-name">Panier</span>
  </div>
  <div class="step">
    <div class="circle-number"><span>2</span></div>
    <span class="step-name">Livraison</span>
  </div>
  <div class="step">
    <div class="circle-number"><span>3</span></div>
    <span class="step-name">Paiement</span>
  </div>
</div>
<div class="container">
  <h2>Mode de livraison</h2>
  <div id="confirmation">
    <div class="d-flex row">
      <div class="frame col-6">
        <h2 class="shipping-title">Title</h2>
        <h2 class="shipping-count">3 produits</h2>
        <p class="shipping-alert">1 produit frais empêche la livraison</p>
        <div class="d-flex justify-content-center">
          <div class="shipping-option">re</div>
          <div class="shipping-option">re</div>
        </div>
      </div>
      <div class="frame col-6">
        <h2 class="shipping-title">Title</h2>
        <h2 class="shipping-count">3 produits</h2>
        <p class="shipping-alert">1 produit frais empêche la livraison</p>
        <div class="d-flex justify-content-center">
          <div class="shipping-option">re</div>
          <div class="shipping-option">re</div>
        </div>
      </div>
    </div>
    <div class="col-2 price-details">Text</div>
  </div>
</div>
</div>
