  <h2 class="my-5 your-basket" style="margin-left: 8%;">Ton panier</h2>
<div class="d-flex" style="margin: 0 4% 0 10%;">
<div class="row w-100 reverse-on-mobile">
  <div class="col-lg-8 col-12 p-0">
    <p class="basket-number">Panier 1/2</p>
    <h4 class="farm-name">La Ferme de Jonas</h4>
    <p class="basket-number">3 produits</p>
    <div class="product-card"></div>
  </div>
  <div class="col-lg-4 col-12 align-items-end p-0">
    <div class="recap-card"></div>
  </div>
</div>
</div>
