<div class="charter-page">
  <div class="container">
    <h1><%= t('.charter') %></h1>
    <p>Robin des Fermes veut garantir aux consommateurs le circuit le plus court et transparent possible. Notre charte certifie que chaque achat via notre plateforme soutien l’agriculture suisse et les acteurs directement concernés (producteurs et artisans).
      <br>
      <br>
      Notre charte se base notamment sur plusieurs critères des certifications des marques régionales *(Vaud+, Genève Région Terre Avenir, Terroir Fribourg, Marque Valais, Neuchâtel Vins Terroir, Jura bernois Produits du terroir, Spécialité du canton du Jura)*</p>
    <h2>Origine des produits et valeur ajoutée :</h2>
    <p><u>Produits non composés :</u> les ingrédients agricoles de produits non composés doivent provenir à 100% de Suisse <br>
      <br>
      <u>Produits composés :</u> les ingrédients agricoles de produits composés doivent provenir de Suisse. Si les ingrédients agricoles ne sont pas disponibles en Suisse, l’importation est possible mais à hauteur de maximum 20%. Des exceptions sont possibles (cacao et chocolat notamment) <br>
      <br>
      <u>Valeur ajoutée :</u> au moins 2/3 de la valeur ajoutée des produits certifiés doit être généré en Suisse</p>
    <h2>Producteurs et artisans :</h2>
    <p>Robin des Fermes a pour objectif de favoriser les achats auprès des producteurs locaux. Toutefois, afin de soutenir les circuits courts à plus grande échelle et de répondre également à la demande des consommateurs, plusieurs artisans sont acceptés sur la plateforme. <br>
      Les artisans favorisés sont ceux qui ne font peu ou pas de concurrence à d’autres producteurs. <br>
      <br>
      En cas de forte concurrence sur certaines régions, Robin des Fermes se réserve le droit d’intervenir pour favoriser un acteur « producteur ». <br>
      <br>
      Robin des Fermes se réserve également le droit de refuser des artisans au-delà d’une certaine taille/structure d’entreprise. <br>
      <br>
      Un « comité de validation » est en charge de la bonne tenue de la charte et notamment de l’acceptation de nouveaux producteurs/artisans.</p>
    <h2>Hygiène et environnement</h2>
    <p>Les normes d’hygiènes et environnementales sont en tout-temps respectées.</p>
  </div>
</div>
