<div class="producer">
  <div class="container">
    <h1><%= t('.become_producer') %></h1>

    <div class="become-producer">

      <div class="contact">
        <h6><%= t('.contact') %></h6>
      </div>

      <%= link_to t(".button_contact"), "https://form.typeform.com/to/Y2rBljOl", class: "btn"%>
    </div>

  </div>
</div>
