<div class="producer">
  <div class="container">
    <h1><%= t('.become_producer') %></h1>

    <div class="become-producer">

      <!DOCTYPE html> <html lang="en"> <head> <meta charset="utf-8" /> <meta name="viewport" content="width=device-width, initial-scale=1" /> <title>Email producteur</title> <style>*{margin:0;padding:0;} html,body,#wrapper{width:100%;height:100%;} iframe{border-radius:0 !important;}</style> </head> <body> <div id="wrapper" data-tf-widget="Y2rBljOl" data-tf-inline-on-mobile data-tf-medium="snippet" ></div> <script src="//embed.typeform.com/next/embed.js"></script> </body> </html>

<!--       <div class="contact">
        <h6><%= t('.contact') %></h6>
      </div>

      <%= link_to t(".button_contact"), "https://aghasnzeh7f.typeform.com/to/Y2rBljOl", class: "btn"%>
    </div> -->

  </div>
</div>
