.banner {
  background-image: image-url('Background.png');;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  text-align: center;

  h2 {
    margin: 0 auto;
    line-height: 64px;
    color: #25201D;
    font-size: 54px;
    max-width: 582px;
    padding-top: 15vh;
  }

  p {
    padding-top: 24px;
    margin: 0 auto;
    font-size: 18px;
    color: #25201D;
    max-width: 470px;
    line-height: 32px;

  }

  .search {
    padding-top: 34px;
    justify-content: center;

    .btn {
      background-color: #33B084!important;
      color: white;
      font-weight: 300;
      font-size: 14px;
      height: 53px;
      border-radius: 0px 10px 10px 0px;
      width: 329px;
      font-family: 600;
      letter-spacing: 2.5px;
      line-height: 24px;
    }

    .form-control {
      padding-top: 0px;
      color: #7C7977 !important;
      text-align: center;
      height: 53px;
      border-radius: 10px 0px 0px 10px;
      border-color: #F0ECE8;
      width: 270px;
      background-color: white;
    }
  }

  @media(max-width: 770px) {
  .btn {
    width: 170px !important;
    letter-spacing: 0px !important;
    font-size: 10px !important;
  }

  .form-control {
    width: 130px !important;
  }
}

}
