.banner {
  background-image: image-url('Background.png');;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  text-align: center;

  h2 {
    margin: 0 auto;
    line-height: 64px;
    color: #25201D;
    font-size: 54px;
    max-width: 582px;
    font-family: 'BioRhyme', serif;
    padding-top: 82px;
  }

  p {
    padding-top: 24px;
    margin: 0 auto;
    font-size: 18px;
    color: #25201D;
    max-width: 470px;
    line-height: 32px;

  }

  .search {
    padding-top: 10px;
    justify-content: center;

    .btn {
      background-color: #007C50!important;
      color: white;
      font-weight: 300;
      font-size: 14px;
      height: 60px;
      border-radius: 0px 10px 10px 0px;
      width: 152px;
    }

    .form-control {
      color: black !important;
      text-align: center;
      height: 60px;
      border-radius: 10px 0px 0px 10px;
      width: 218px;
    }
  }

}
