.banner {
  background-color: #F9FAF7;
  text-align: center;

  .btn-small-mobile {
    display: none;
  }

  .text-banner {
    text-align: left !important;
    padding-left: 8%;
  }

  .banner-content {
    z-index: 10;
    display: flex;
    margin-left: -150px;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 70px;
  }

  .ellipse-small {
    height: 100px;
  }

  .ellipse-big {
    height: 200px;
    width: 200px;
    margin-left: -90px;
  }

  h1 {
    margin: 0 auto;
    line-height: 45px;
    color: #25201d;
    font-size: 46px;
    padding-top: 15vh;

    .strikethrough {
      display: inline-block;
      position: relative;
    }
    .strikethrough::before {
      content: '';
      position: absolute;
      left: -0.1em;
      right: -0.1em;
      top: 0.38em;
      bottom: 0.38em;
      color: red;
      background: linear-gradient(to left top, transparent 45.5%, currentColor 47.5%, currentColor 52.5%, transparent 54.5%);
      pointer-events: none;
    }

  }

  p {
    padding-top: 24px;
    margin: 0 auto;
    font-size: 16px;
    color: #25201d;
    line-height: 25px;
    font-family: 'BioRhyme', serif;
    font-weight: 300;

    strong {
      color: #339E72;
    }

  }

  .img-banner {
    height: 523px;
    margin-top: 40px;
  }

  .search {
    padding-top: 34px;

    .btn-computer {
      background-color: #339E72 !important;
      color: white;
      font-weight: 600;
      font-family: 'Mulish', sans-serif;
      font-size: 14px;
      height: 53px;
      border-radius: 0px 10px 10px 0px;
      letter-spacing: 2.5px;
      line-height: 24px;
      text-transform: uppercase;
    }

    .btn-mobile {
      display: none;
    }

    .form-control {
      padding-top: 0px;
      color: #7c7977 !important;
      text-align: center;
      height: 53px;
      border-radius: 10px 0px 0px 10px;
      border-color: #f0ece8;
      background-color: white;
    }
  }

}

@media (min-width: 750px) and (max-width: 1000px) {
  .banner {
    .btn-computer {
      display: none;
    }

    .btn-mobile {
      height: 40px;
      display: initial !important;
      background-color: #33b084 !important;
      color: white;
      font-weight: 600;
      font-family: 'Mulish', sans-serif;
      font-size: 14px;
      height: 53px;
      border-radius: 0px 10px 10px 0px ;
      width: 130px;
      letter-spacing: 2.5px;
      line-height: 24px;
      text-transform: uppercase;
    }

    .form-control {
      width: 130px;
    }
  }
}


@media (max-width: 750px) {
  .banner {

    .search {
      flex-direction: column;

      .form-control {
        border-radius: 6px;
        width: 75%;
      }
    }

    .img-banner {
      display: none;
      width: 0px;
    }

    .btn-computer {
      display: none;
    }

    .ellipse-small {
      display: none;
      width: 0px;
    }

    .ellipse-big {
      display: none;
      width: 0px;
    }

    .banner-content {
      margin-left: 0px;
    }

    .btn-small-mobile {
      height: 53px;
      color: white;
      width: 75%;
      border-radius: 6px;
      margin-top: 10px;
      display: initial !important;
      background-color: #33b084 !important;
    }

    .text-banner {
      text-align: center !important;
      padding-left: 0px;
    }

    .btn-mobile {
      display: none;
    }

    h1 {
      background-image: url(new-home/banner-mobile.png);
      background-size: cover;
      font-size: 32px;
      line-height: 36px;
      color: white;
      height: 200px;
      padding-top: 50px;
      padding-left: 10px;
      padding-right: 10px;
    }

    p {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}
