#basket {
  width: 100%;

  @include small {
    width: 570px;
  }

  min-height: 200px;
  background-color: white;
  display: none;

  #products {
    background-color: white;
    padding-top: 30px;
    padding-bottom: 10px;
  }

  #header {
    background-color: rgba(240, 236, 232, 0.4);
    height: 91px;
    display: flex;
    justify-content: flex-start;
    position: relative;
    align-items: center;
    border-bottom: 1px solid #dee2e6;

  }

  #title {
    font-family: 'BioRhyme', serif;
    position: absolute;
    flex: 0 1 auto;
    left: 50%;
    transform: translateX(-50%);
    color: #6C5C5C;

    @include small {
      font-size: 20px;
    }
  }

  #cross {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 1 auto;
    margin-right: 32px;

    img {
      height: 31px;
    }


    margin-left: auto;
  }

  .empty-basket {
    margin-top: -30px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 150px;
  }

  .product-basket {
    margin: 0 7px 40px 7px;
    @include small {
      margin: 0 40px 40px 40px;
    }

    .col {
      min-width: 50%;
      padding: 0;
    }

    display: flex;
    align-items: start;
    height: 100%;

    .product-image {
      height: 102px;
      width: 102px;
      border-radius: 10px;
    }

    .product-infos {
      display: flex;
      justify-content: space-between;
      width: 80%;
      min-height: 100px;
      margin-left: 20px;

      .product-title {
        color: #25201D;
        font-family: BioRhyme;
        font-size: 17px;
        max-width: 117px;
        flex-basis: 10%;
      }

      .left-column {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
      }

      .right-column {
        text-align: right;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
      }

      .price {
        flex-basis: 10%;
        font-weight: bold;
        line-height: 19px;
        margin: 0 4px 4px 0;
        font-size: 24px;
        color: $primary;
        display: inline-block;
      }

      .currency {
        flex-basis: 10%;
        font-weight: bold;
        line-height: 21px;
        font-size: 12px;
        color: $primary;
        display: inline-block;
        vertical-align: super;
      }

      .remove {
        line-height: 16px;
        font-size: 12px;
        color: #898989;
        opacity: 0.4;
        margin: 7px 0;
      }

      .infos {
        font-size: 10px;
        line-height: 10px;
        font-size: 12px;
        line-height: 17px;
        color: #7C7977;
        opacity: 0.6;
        flex-basis: 51%;
      }

      .counter {
        display: flex;
      }

      .item-count {
        font-weight: 600;
        margin: 0 7px;
        font-size: 23px;
        color: $primary;
        display: inline-block;
        @include small {
          margin: 0 23px;
        }
      }

      .icons {
        height: 36px;
      }
    }
  }

  #footer {
    border-top: 1px solid #F0ECE8;
    padding: 0px 32px 30px 32px;
    background-color: white;

    .total {
      font-weight: bold;
      font-size: 24px;
      line-height: 32px;
    }

    .price-total {
      font-weight: bold;
      font-size: 32px;
      line-height: 32px;
      color: $primary;
      display: inline-block;
    }

    .price-currency {
      font-weight: 900;
      font-size: 10px;
      vertical-align: top;
      color: $primary;
      display: inline-block;
    }

    .continue-button {
      padding-top: 14px;
      width: 100%;
      font-size: 14px;
      text-align: center;
    }
  }
}
