#basket {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  flex-direction: column;

  @include small {
    width: 570px;
  }

  background-color: white;
  display: none;

  #products {
    background-color: white;
    padding: 10px 8px 0 8px;
    @include small {
      padding: 20px 40px 0 40px;
    }
    margin: 91px 0 230px 0;
    height: calc(100% - (91px + 200px));;
    overflow: scroll;
  }

  #header {
    background-color: rgba(240, 236, 232, 0.4);
    height: 91px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid #dee2e6;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  #title {
    font-family: 'BioRhyme', serif;
    position: absolute;
    flex: 0 1 auto;
    left: 50%;
    transform: translateX(-50%);
    color: #6C5C5C;

    @include small {
      font-size: 20px;
    }
  }

  #cross {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 1 auto;
    margin-right: 32px;

    img {
      height: 31px;
    }


    margin-left: auto;
  }

  .empty-basket {
    margin-top: -30px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 150px;
  }

  #footer {
    border-top: 1px solid #F0ECE8;
    padding: 0px 32px 30px 32px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;

    .total {
      font-weight: bold;
      font-size: 24px;
      line-height: 32px;
    }

    .price-total {
      font-weight: bold;
      font-size: 32px;
      line-height: 32px;
      color: $primary;
      display: inline-block;
    }

    .price-currency {
      font-weight: 900;
      font-size: 10px;
      vertical-align: top;
      color: $primary;
      display: inline-block;
    }

    .continue-button {
      font-size: 14px;
      font-family: 'Mulish', sans-serif;
      text-align: center;
      display: flex;
      justify-content: center;
      margin-top: 14px;
      text-decoration: none;
    }
  }

  .product-image {
    height: 102px;
    width: 102px;
    border-radius: 10px;
    margin: auto;
  }

  .product-infos {
    width: 80%;
    padding: 0;
  }

  .product-basket {
    display: flex;
    align-items: center;
    margin: 20px 0 40px 0;
  }
}

.basket-farm-name {
  color: #3C452B;
  font-size: 19px;
  font-family: BioRhyme;
  line-height: 25px;
}

.order-missing-price {
  font-family: Mulish;
  color: #FF4136;
  opacity: 0.8;
  font-size: 11px;
}

.product-basket {
  .col {
    min-width: 50%;
    padding: 0;
  }

  .product-infos {
    display: flex;
    justify-content: space-between;
    min-height: 100px;
    margin-left: 20px;
    width: 66%;
    padding: 15px 0 15px 0;

    .product-title {
      color: #25201D;
      font-family: BioRhyme;
      font-size: 15px;
      max-width: 200px;
      flex-basis: 10%;
    }

    .left-column {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: stretch;
    }

    .right-column {
      text-align: right;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: stretch;
    }

    .price {
      flex-basis: 10%;
      font-weight: bold;
      line-height: 19px;
      margin-right: 4px;
      font-size: 24px;
      color: $primary;
      display: inline-block;
      @include media-breakpoint-down(sm) {
        font-size: 19px;
      }
    }

    .currency {
      flex-basis: 10%;
      font-weight: bold;
      line-height: 21px;
      font-size: 12px;
      color: $primary;
      display: inline-block;
      vertical-align: super;
    }

    .remove-item-button {
      line-height: 24px;
      font-size: 12px;
      color: #898989 !important;
      opacity: 0.4;
      margin: 7px 0;
      &:hover {
        text-decoration: none;
        opacity: 0.6;
      }
    }

    .infos {
      font-size: 12px;
      line-height: 17px;
      color: #7C7977;
      opacity: 0.6;
      flex-basis: 51%;
      width: 149px;
      @include media-breakpoint-down(sm) {
        width: 113px;
      }
    }

    .counter {
      display: flex;
    }

    .item-count {
      justify-content: center;
      align-items: center;
      display: flex;
      margin-bottom: 0;
      font-weight: 600;
      min-width: 37px;
      font-size: 23px;
      color: $primary;
      @include small {
        min-width: 69px;
      }
    }

    .icons {
      height: 36px;
    }

    .disabled-button {
      filter: grayscale(61%);
      opacity: 0.4;
    }
  }
}
