* {
  text-decoration: none !important;
}


.companion-block {
  .btn-white {
    color: #339E72;
    background-color: #fff;
    border-color: #fff;
    border-radius: 10px;
    font-size: 14px;
    width: 226px;
    height: 53px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 2.5px;
  }
  height: 342px;
  width: 100%;
  @media (min-width: 975px) {
    width: 974px;
  }
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: image-url('home/companion-block.png');
  background-size: cover;
  margin-bottom: 45px !important;
  margin: auto;
  margin-bottom: 60px;
  span {
    font-family: BioRhyme;
    font-size: 20px;
    color: white;
    width: 75%;
    @media (min-width: 975px) {
    font-size: 31px;
    width: 848px;
    }
    text-align: center;
    margin-bottom: 21px;
    margin-top: 53px;
  }
}

.best-farms {
  margin-bottom: 50px;

  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 26px;
  }

  p {
    padding-left: 0px !important;
  }

  .cards-index {
    .card-product {
      margin-top: 30px;
    }
  }
  .card-product {
    position: relative;
    height: 192px;
    width: 568px;
    background-color: white;
    border-radius: 10px;
    text-align: left;
    border: 1px solid #faf7f3;
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.07);



    .fresh-products {
      img {
        width: 12px;
        height: 12px;
        margin-top: 5px;
        margin-right: 5px;
      }

      p {
        color: #4488ee;
        margin-bottom: 0px !important;
        font-size: 14px !important;
      }

      span {
        color: #4488ee;
        margin-bottom: 0px !important;
        font-size: 14px !important;
        margin-right: 0px;
        margin-left: 0px;
      }

      margin-left: 10px;
    }

    .icards-nformations {
      position: relative;
    }

    .photo-farm {
      border-radius: 10px 0 0 10px;
      position: relative;

      img {
        border-radius: 10px 0 0 10px;
        object-fit: cover;
      }

      .labels {
        margin-bottom: -24px;
        margin-left: 10px;
        z-index: 1;
        position: absolute;
      }
      .label {
        display: inline-block;
        margin-top: 10px;
        background-color: #E1F5EA;
        height: 19px;
        border-radius: 2px;
        padding-left: 5px;
        padding-right: 5px;

        p {
          color: $primary;
          font-size: 10px !important;
          letter-spacing: 2px;
          line-height: 21px !important;
        }
      }
    }

    .marker {
      height: 13px;
      width: 11px;
    }

    .address {
      margin-top: 10px;

      img {
        margin-right: 10px;
      }

      p {
        font-size: 11px;
        color: $grey-black;
        font-weight: 600;
        letter-spacing: 0.5px;
        line-height: 21px;
        margin-bottom: 4px;
      }
    }

    .address-far-farm {
      margin-top: 10px;

      img {
        margin-right: 10px;
      }

      p {
        font-size: 11px;
        color: $grey-black;
        font-weight: 600;
        letter-spacing: 0.5px;
        line-height: 21px;
        margin-bottom: 1px;
      }
    }
    .name {
      margin-bottom: 6px;
      flex-wrap: wrap;
      h6,
      h3 {
        font-family: 'BioRhyme', serif;
        font-size: 20px;
        letter-spacing: 0px;
        color: #25201d;
        margin-right: 7px;
        margin-bottom: 4px;
      }

      img {
        margin-top: 5px;
      }
    }



    .all-photos {
      flex-direction: row-reverse;
      justify-content: flex-end;
      padding-left: 10px;

      .category-photo {
        margin-bottom: -25px;
        z-index: 1;

        img {
          width: 50px;
          height: 50px;
          margin-right: -15px;
        }
      }
    }

    .categories {
      background-color: #f0ece8;
      opacity: 0.4;
      height: 40px;
      width: 376px;
      position: absolute;
      bottom: 0px;
      border-radius: 0 0px 10px 0;
    }
  }

  @media screen and (max-width: 1270px) {
    .cards {
      margin-left: 0px !important;
      width: 100%;
      grid-template-columns: 1fr;
    }

    .card-product {
      justify-self: center !important;
    }
  }

  @media screen and (min-width: 650px) {
    .photo-farm {
      img {
        width: 192px;
        height: 192px;
      }
    }
  }

  @media screen and (max-width: 650px) {
    .best-farms {
      margin-right: 0px !important;
      width: 100%;
    }

    .card-product {
      height: 438px;
      width: 320px;
      flex-direction: column;
      margin: auto;

      img {
        width: 319px;
        height: 252px;
        border-radius: 10px 10px 0px 0px !important;
      }

      .marker {
        height: 9px;
        width: 8px;
      }

      .address {
        margin-left: 10px !important;

        img {
          margin-top: 5px;
          margin-right: 10px;
        }

        p {
          font-weight: 600;
          letter-spacing: 0px;
          line-height: 21px;
        }
      }

      .address-far-farm {
        margin-left: 10px;

        img {
          margin-right: 10px;
          margin-top: 5px;
        }

        p {
          letter-spacing: 0px;
        }
      }

      .name {
        h6 {
          font-size: 18px;
          margin-right: 0px;
          margin-bottom: 5px;
          margin-left: 10px !important;
        }

        img {
          margin-right: 3px;
        }
      }

      .openning {
        margin-left: 10px !important;
      }

      .products-number {
        margin-top: 0px;
        margin-left: 10px !important;
        font-size: 13px !important;
      }

      .fresh-products {
        img {
          margin-top: 2px;
        }

        p {
          font-size: 13px !important;
          margin-left: 5px !important;
        }

        span {
          font-size: 12px !important;
        }
      }

      .all-photos {
        padding-left: 10px;
      }

      .categories {
        width: 320px;
        border-radius: 0 0px 10px 10px;
      }
    }
  }
}
