.cards {
  margin-top: 23px;
  margin-left: 26px;

  .farm {
    width: 570px;
    border-top: 1px solid #eeeeee;
    height: 256px;
    padding-top: 25px;

    p {
      font-size: 14px;
      color: black
    }

    h6 {
      font-size: 18px;
      font-weight: bold;
      margin-left: 5px;
    }

    .photo-farm {
      margin-right: 20px;
    }

    .user {
      margin-left: 5px;
    }
  }

  .label {
    img {
      height: 18px;
      width: 22px;
    }
  }
}
