.cards {
  margin-top: 23px;
  margin-left: 26px;


  .card-farm {
    width: 570px;
    border-top: 1px solid #bbbfca;
    height: 256px;
    padding-top: 25px;

    .information {

      p{
        margin-bottom: 0px;
      }
    }

    .category-photo {
      margin-top: -8px;
      padding-left: 5px;
      img {
        height: 24px;
        width: 24px;
      }
    }

    p {
      font-size: 14px;
      color: black
    }

    h6 {
      font-size: 18px;
      font-weight: bold;
      margin-left: 5px;
    }

    .photo-farm {
      margin-right: 20px;
    }

    .user {
      margin-left: 5px;
    }
  }

  .label {
    img {
      height: 18px;
      width: 22px;
    }
  }
}

.best-farms {
  .cards {

  }
}
