.companion-delivery-oye {
  display: block;
  font-weight: bold;
  font-size: 18px;
}

.companion-delivery-option-name {
  margin-top: 20px !important;
}

.green-text {

  font-weight: bold;
  color: #339E72;
}
