.footer {
  //disable footer on mobile
  display: flex;
  width: 100%;
  min-height: 380px;
  background: #1E0F00;
  display: flex;
  margin-bottom: 0px;
  justify-content: space-around;
  padding: 0px 50px;
  font-weight: 300;
  font-size: 14px;

  p {
    color: #FAF0E1 !important;
  }


  .information {
    //width: 150px;
    margin-left: 30px;
  }

  .community {
    //width: 150px;
  }

  .producers {
    //width: 150px;
  }

  .title {
    font-weight: bold;
    font-size: 16px;
    margin-top: 50px;
    margin-bottom: 30px;
  }

  .contact-title {
    font-weight: bold;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  img {
    margin-top: 100px;
    height: 218px;
    width: 176px;
  }

  a {
    color: #FAF0E1;
    &:hover {
      text-decoration: none;
    }
  }


  .link {
    .footer-links {
      display: flex;
      align-items: center;
    }

    .footer-links a {
      color: #FAF0E1;
      font-size: 24px;
      padding: 0px 10px;
    }
  }
}
@media screen and (max-width: 700px) {
  .footer {
    padding-bottom: 50px;
    flex-direction: column;

    .information {
      margin: auto;
      width: 150px;
    }

    img {
      margin: auto;
      margin-top: 100px;
    }

    .community {
      margin: auto;
    }

    .producers {
      margin: auto;
    }

    .link {
      margin: auto;
    }

  }
}

@media screen and (max-width: 1000px) {
  .footer {
    flex-wrap: wrap;
  }
}
