.navbar-toggler {
  width: 3px !important;
}
.navbar-toggler-icon {
  position: absolute !important;
  left: 0 !important;
  margin-left: 10px !important;
}
.margin-navbar {
  padding-right: 40px !important;
}

#content {
  padding-top: 57px;
}
.swal2-container {
  z-index: 999999 !important;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index:100;
  background-color: $primary;
  .add-gap {
    li {
      margin-left: 20px;
    }
  }
  .hidden-on-mobile {
    @include media-breakpoint-down(md) {
      display: none !important;
    }
  }
  .navbar-nav {
    display: flex;
    flex-direction: row;
    @include media-breakpoint-down(md) {
      width: 95px;
    }
  }
  .basket-icon {
    height: 30px;
  }
  .profile-icon {
    height: 24px;
    padding: 0 0;
      @include media-breakpoint-down(md) {
      margin-top: 10px;
    }
  }
  .navbar-logo {
    width: 200px;
    @include media-breakpoint-down(lg) {
      width: 135px;
    }
    @include media-breakpoint-down(sm) {
      width: 32vw;
      margin-right: 20px;
    }
  }
  /* Font Awesome Icons have variable width. Added fixed width to fix that.*/
  .icon-width { width: 2rem;}

  p {
    margin-bottom: 0px;
    color:white;
    font-size: 14px;
  }
  .zip-code {
    p {
      font-size: 14px;
      @include media-breakpoint-down(lg) {
        font-size: 17px;
      }
    }
    @include media-breakpoint-up(sm) {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    .background {
      margin-left: 12px;
      background-color: #174230;
      border-radius: 60px;
      padding: 4px 17px;
      width: 80px;
      display: flex;
      justify-content: center;
    }
    .marker {
      margin-right: 8px;
    }

  }
  .text {
    font-weight: bold;
    margin: 0;
    color: white;
  }
  .price-text {
    font-family: 'Mulish', sans-serif;
    font-weight: bold;
    font-size: 25px;
    line-height: 25px;
    vertical-align: bottom;
    color: #B2D7C5;
  }
  .price-currency {
    font-family: 'Mulish', sans-serif;
    font-weight: bold;
    font-size: 11px;
    color: #B2D7C5;
  }
  .basket-div {
    display: flex;
    margin-top: 9px;
    @include media-breakpoint-up(lg) {
      margin-top: 0px;
    }
  }
  .items-number {
    position: absolute;
    display: inline-block;
    border-radius: 13px;
    left: 10px;
    padding: 0px 6px;
    bottom: 25px;
    background: #FF4136;
    font-weight: bold;
    font-size: 11px;
    color: white;
  }

  .mobile-dropdown-position {
    position: absolute;
    right: 12%;
    top: 16%;
    display: none;
    @include media-breakpoint-down(md) {
      display: block;
    }
  }

  .min-width {
    min-width: 500px;
  }

  .logout {
    font-size: 26px;
    color: #B2D7C5;
  }
}
.css3sidebar {
  z-index: 1033 !important;
}
.menu-wrapper {
  width: 57% !important;
  a {
    color: #7C7977;
  }
  .secondary-link {
    font-size: 11px;
  }
  .zip-code-infos {
    background-color: $primary !important;
    opacity: 1;
  }
}
