.cards-container {
  margin: 50px 0;
  border: 1px solid green;
}

.card-farm {
  min-height: 100px;
  max-width: 850px;
  border: 1px dashed red;
  margin-top: 30px;

  @media (max-width: 650px) {
    width: 330px;
    margin: 0 auto;
    margin-top: 30px;
  }
  @media (min-width: 650px) and (max-width: 1200px) {
    min-width: 600px;
  }
  @media (min-width: 1200px) {
    min-width: 700px;
  }
}

.card-farm-header {
  flex-direction: row;
  @media (max-width: 650px) {
    flex-direction: column;
  }
} // end card-farm

.photo-farm {
  border-radius: 10px 0 0 10px;
  position: relative;

  img {
    border-radius: 10px 0 0 10px;
    object-fit: cover;
    height: 222px;
    width: 200px;

    @media (max-width: 650px) {
      border-radius: 10px 10px 0 0;
      width: 330px;
    }
  }

  .labels {
    margin-bottom: -24px;
    margin-left: 10px;
    z-index: 1;
    position: absolute;
  }
  .label {
    display: inline-block;
    margin-top: 10px;
    background-color: #E1F5EA;
    height: 19px;
    border-radius: 2px;
    padding-left: 5px;
    padding-right: 5px;

    p {
      color: $primary;
      font-size: 10px !important;
      letter-spacing: 2px;
      line-height: 21px !important;
    }
  }

} // end photo-farm

.toggle-radius {
  img {
    border-radius: 10px 0 0 0 !important
  }
}

.card-farm-carousel {
  height: 225px;
  padding: 16px 0 16px 16px;

  @media (max-width: 650px) {
    padding: 8px 0 8px 8px;
  }
}

.hide-carousel {
  display: none;
}

.card-farm-content {
  padding: 16px 40px 16px 16px;

  @media (max-width: 650px) {
    padding: 12px;
  }

  .address {
    align-items: center;
    font-size: 11px;
    color: $grey-black;
    font-weight: 700;
    letter-spacing: 0.5px;

    .marker {
      height: 13px;
      width: 11px;
    }
  
    img {
      margin-right: 10px;
    }
  }

  .name {
    font-family: 'BioRhyme';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 6px;
  }

  .description {
    color: $grey-black;
    font-size: 14px !important;
    margin-top: 12px;
    line-height: 24px;

    @media (max-width: 650px) {
      margin-top: 8px;
      margin-bottom: 4px;
    }
    @media (min-width: 650px) {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }
  }
}
// end card-farm-content

.delivery {
  flex-direction: row;
  align-items: center ;

  @media (max-width: 650px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.delivery-price {
  background: rgba(51, 158, 114, 0.2);
  border-radius: 2px;
  flex-direction: row;
  align-items: center;
  padding: 6px 4px;
  font-size: 10px;
  color: $primary;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700;
  height: 27px;
  margin-right: 12px;

  .icon {
    height: 12px;
  }

  .text {
    margin-left: 10px;
    text-align: justify;
  }
}

.products-number {
  color: #25201d;
  opacity: 0.6;
  font-size: 12px;

  @media (max-width: 650px) {
    padding-top: 12px;
  }
}

.best-products {
  align-items: center;
  .eye-icon {
    height: 10px;
  }
}

.show-hide-best-products {
  color: $primary;
  letter-spacing: 2.5px;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 10px;
  padding-top: 4px;
  margin-left: 8px;
  cursor: pointer;
}

@media (min-width: 650px) {
  .card-farm-content {
    position: relative;
  }
  .best-products {
    position: absolute;
    bottom: 8px;
  }
}