.home {
  .waves {
    background-image: url(new-home/waves.png);
    height: 250px;
    background-size: cover;
    margin-top: -165px;
    text-align: center;

    h2 {
      color: #3C452B;
      font-family: 'BioRhyme', serif;
      padding-top: 140px;
      font-size: 32px;
    }
  }

  .direct-sale {
    background-image: url(new-home/background-sale.png);
    background-size: cover;
    background-color: #E1F5EA;
    margin-top: -80px;
    text-align: center;
    min-height: 1200px;
    padding-bottom: 60px;

    .grey-line {
      display: none;
    }

    .work-question {
      margin-top: 18px;
    }

    p {
      color: #3C452B;
      margin-bottom: 50px;
      font-size: 20px;
    }

    .path {
      background-image: url(new-home/path.png);
      background-size: cover;
      width: 800px;
      margin: auto;
      margin-top: 80px;

      .path-picto {
        margin-top: -20px;
        width: 450px;
        margin-left: 8%;

        h3 {
          margin-top: -20px;
        }

        .path-marker {
          margin-left: 50px;
        }

        .img-marker {
          margin-top: -30px;
        }

      }

      .path-hand {
        margin-left: 68%;
      }

      .path-farmer {
        margin-left: -25%;
        margin-top: 7%;

        .img-farmer {
          margin-top: -80px;
        }
      }

      .path-eat {
        margin-left: 48%;
        margin-top: 7%;

        h3 {
          margin-top: -20px;
        }

        .img-eat {
          margin-top: -50px;
        }
      }

      .path-return {
        margin-top: -8%;
        margin-left: -4%;
      }

    }

    @media (min-width: 830px) and (max-width: 980px) {
      .direct-sale {
        min-height: auto !important;
      }

      .path-picto {
        width: 250px !important;
      }

      .path-marker {
        margin-left: 50px !important;
      }

      .img-marker {
        margin-top: -30px !important;
      }

      .path-hand {
        margin-left: 75% !important;
      }

      .img-hand {
        margin-top: -130px !important;
      }

      .path-farmer {
        margin-left: -20% !important;

        .img-farmer {
          margin-top: -120px !important;
        }
      }

      .path-eat {
        margin-left: 55% !important;

        .img-eat {
          margin-top: -180px !important;
        }
      }

      .path-return {
        margin-left: 3% !important;

        .img-return {
          margin-top: -50px !important;
        }
      }
    }
  }

  @media (max-width: 830px) {
    .grey-line {
      display: initial !important;
      margin-top: 5px;
    }

    .waves {
      margin-top: -110px !important;

      h2 {
        font-size: 24px;
      }
    }

    .direct-sale {
      margin-top: -155px !important;

      .work-question {
        display: none;
      }

      p {
        margin-bottom: 0px !important;
        font-size: 18px !important;
        line-height: 32px;
      }

      h3 {
        font-size: 20px !important;
      }
    }

    .path {
      background-image: none !important;
      width: 100% !important;
    }

    .path-picto {
      width: 90% !important;
      margin-top: -70px !important;
      margin: auto !important;
    }

    .img-marker {
      margin-top: 20px !important;
    }

    .img-hand {
      margin-top: -25px !important;
    }

    .img-farmer {
      margin-top: -25px !important;
    }

    .img-eat {
      margin-top: -25px !important;
    }

    .img-return {
      margin-top: -25px !important;
    }
  }

  @media (min-width: 1650px) {
    .waves {
      height: 300px !important;
      margin-top: -185px !important;

      h2 {
        padding-top: 150px !important;
      }
    }

    .direct-sale {
      p {
        margin-top: 30px;
      }
    }
  }

  @media (min-width: 830px) and (max-width: 1190px) {
    .path {
      width: 600px !important;
      height: 800px !important;

      .path-picto {
        width: 350px !important;
      }

      .path-hand {
        margin-top: -20% !important;
      }

      .path-farmer {
        margin-left: -30% !important;
        margin-top: -15% !important;
      }

      .path-eat {
        margin-left: 50% !important;
        margin-top: -15% !important;
      }

      .path-marker {
        margin-left: 5% !important;
      }
    }
  }

  @media (min-width: 1650px) {

    .path {
      .path-farmer {
        margin-top: -5% !important;
      }

      .path-eat {
        margin-top: 0% !important;
      }

      .path-marker {
        margin-left: 5% !important;
      }

      .path-return {
        margin-top: -10% !important;
      }
    }
  }
}
