.home {
  .typeform {
    display: flex;
    justify-content: space-between;
    background-color: #F9FAF7;
    background-image: asset-url("new-home/background-typeform.png");
    background-size: cover;
    width: 100%;
    height: 450px;

    img {
      height: 245px;
      margin-top: 8%;
    }

    .tf-v1-widget {
      margin-top: 10px;
    }
  }
}
