.home {
  .typeform {
    display: flex;
    justify-content: space-between;
    background-color: #F9FAF7;
    background-image: asset-url("new-home/background-typeform.png");
    background-size: cover;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;

    #mc_embed_signup {
      background-color: #339E72;
      width: 100% !important;
      margin-left: 8%;

      #mce-success-response {
        color: #FFFFFF !important;
        font-family: 'BioRhyme', serif;
        width: 100%;
      }

      .button-mobile {
        display: none;
      }

      .indicates-required {
        display: none;
      }

      .mc-field-group {
        input {
          color: #FFFFFF;
          height: 53px;
          background-color: #339E72;
          width: 100%;
          border-radius: 5px 0 0 5px !important;
        }

        input::-webkit-input-placeholder {
          color: #FFFFFF;
        }

        input::-moz-placeholder {
          color: #FFFFFF;
          opacity: 1;
        }

        input:focus {
          border: 1px solid #F9FAF7 !important;
        }
      }

      .button {
        height: 52.9px !important;
        background-color: #F9FAF7 !important;
        border-radius: 0 5px 5px 0 !important;
        color: #339E72;
        width: 209px;
        font-family: 'Mulish', sans-serif !important;
        font-size: 16px !important;
        font-weight: 800 !important;
        padding: 16px 24px 16px 55px !important;
      }

      input {
        border: 1px solid #F9FAF7;
      }

      #mce-responses {
        margin-top: 30px !important;
        margin-left: -75% !important;
        display: inline-block;
        margin: 2px 0 1em 0;
        padding: 5px 10px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        font-size: 14px;
        font-weight: normal;
        z-index: 1;
        color: #e85c41;
      }

      .input-mailchimp {
        margin-top: 30px;
        display: flex;
      }
    }

    p {
      color: #F9FAF7;
      font-size: 20px;
      margin-top: 20px;
      line-height: 170%;
    }

    h3 {
      color: #F9FAF7;
      font-family: 'BioRhyme', serif;
      font-size: 32px;
      line-height: 137%;
      margin-bottom: 0px !important;
    }

    img {
      height: 245px;
      margin-top: 8%;
    }

    .tf-v1-widget {
      margin-top: 10px;
      height: 430px;
    }

    @media (max-width: 770px) {
      padding-left: 0px !important;
      padding-right: 0px !important;
      margin: auto;
      text-align: center;
      flex-direction: column;
      background-color: #339E72;
      background-image: none;
      height: 600px !important;

      img {
        width: 166px;
        height: 196px;
        margin: auto;
        padding-top: 30px;
        z-index: 5;
        padding-top: 30px;
      }

      .tf-v1-widget {
        height: 450px !important;
        margin-top: -20px !important;
      }

    }

    @media (max-width: 875px) {
      flex-direction: column;

      #mc_embed_signup {
        margin-left: 0px !important;
        margin-top: 50px;
        padding: 16px; // Ivan, mailchimp form correction (alignments: more padding seems better)

        // Ivan, mailchimp form correction (alignments: success message needs less margin)
        #mce-success-response {
          margin: 0px; 
        }

        form {
          padding: 0px !important; // Ivan, mailchimp form correction (alignments: no need for more padding)
        }
        
        // Ivan, mailchimp form correction (display the button on mobile)
        #mce-responses {
          margin-top: 0px !important;
          margin-left: 0px !important;
          padding: 0 0 0 4px; // Ivan, mailchimp form correction: we need less padding than on Desktop
        }

        .button-desktop {
          display: none;
        }

        // Ivan, mailchimp form correction (alignments: no need for more padding)
        .button {
          padding: 0px !important;
        }

        h3 {
          text-align: center;
          font-size: 24px;
        }

        p {
          text-align: center;
          font-size: 18px;
        }

        .button-mobile {
          display: initial;
          width: 100%; // Ivan, mailchimp form correction (alignments : button is 100% minus padding)
          border-radius: 5px !important;
        }

        .input-mailchimp {
          flex-direction: column;

        }

        .mc-field-group {
          width: 100% !important; // Ivan, mailchimp form correction (alignments: same, input is 100% minus padding)
          input {
            border-radius: 5px !important;
          }
        }
      }

      img {
        height: 200px;
        margin: auto;
        padding-top: 50px;
      }
    }
  }
}
