.home {
  .home-category {
    margin-bottom: 50px;

    .title-btn-category {
      display: flex;
      justify-content: space-between;
      margin-top: 70px;
      margin-bottom: 20px;

      h3 {
        color: #3C452B;
        font-family: 'BioRhyme', serif;
      }

      .link-discover {
        margin-top: -10px;
      }

      .btn-discover {
        width: 200px;
        color: white;
        background-color: #339E72;
        border-radius: 5px;
      }
    }

    .food {
      display: flex;
      justify-content: space-between;

      img {
        width: 100%;
        border-radius: 5px 5px 0 0;
      }

      .card-category {
        margin-left: 20px;
        box-shadow: 1px 1px 12px #F2F2F2;
        width: 50%;


        p {
          color: #25201D;
          font-family: 'BioRhyme', serif;
          margin-left: 5px;
          margin-top: 10px;
        }
      }
    }
  }

  @media (max-width: 770px) {
  }
}
