// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";
@import "config/mixins";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import 'mapbox-gl/dist/mapbox-gl';
@import '@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder';
@import url(https://cdnjs.cloudflare.com/ajax/libs/custombox/4.0.3/custombox.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css);
@import 'noty/src/noty.scss';
@import 'noty/lib/themes/metroui';
.noty_theme__metroui.noty_type__error { background-color: #FF4136; }
.noty_theme__metroui.noty_type__success { background-color: $primary; }

// Your CSS partials
@import "components/index";
@import "pages/index";

// navbar sidebar
$sidebarbreakpoint: 768px;
@import "css3sidebar/src/sass/base.scss";
@import "css3sidebar/src/sass/base.show-desktop.scss";
@import "css3sidebar/src/sass/base.popin.scss";



body, h6, p {
  font-family: 'Mulish', sans-serif;
}

h1 {
  color: #25201D;
  font-size: 54px;
  font-family: 'BioRhyme', serif;
}

h6 {
  color: #25201D;
  font-size: 18px;
}

h2 {
  font-family: 'BioRhyme', serif;
  color: #6C5C5C;
  font-size: 36px;
  line-height: 135%;
}

h4 {
  font-size: 24px;
  letter-spacing: 2.5px;
  font-family: 'Mulish', sans-serif;
  font-weight: 600;
  color: #6C5C5C;
}

p {
  color: #6C5C5C;
  font-size: 14px;
}


html {
  height: 100%;
}

body {
  background-color: white;
  width: 100%;
  margin-right: -100px
}

// they are managed by the js and must not appear on screen before the js loads
.simpleFormAlert, .railsAlert {
  display: none;
}
