<p><%= (I18n.t 'hello').capitalize %> <%= @email %>!</p>

<p><%= I18n.t 'email.account_confirmation.intro' %></p>

<p><%= link_to I18n.t('email.account_confirmation.button'), confirmation_url(@resource, confirmation_token: @token) %></p>
